<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cross.whale.dao.SystemRoleDao">


    <select id="getSystemRoleList" resultType="com.cross.whale.res.SystemRuleVO">
        select * from system_role where is_deleted = 0
        <if test="params.roleName != null and params.roleName != ''">
          and role_name like concat ('%',#{params.roleName},'%')
        </if>
        <if test="params.roleCode != null and params.roleCode != ''">
            and role_code like concat ('%',#{params.roleCode},'%')
        </if>
    </select>
    <select id="querySystemRolePage" resultType="com.cross.whale.res.SystemRuleVO">
        select * from system_role where is_deleted = 0
        <if test="params.roleName != null and params.roleName != ''">
            and role_name like concat ('%',#{params.roleName},'%')
        </if>
        <if test="params.roleCode != null and params.roleCode != ''">
            and role_code like concat ('%',#{params.roleCode},'%')
        </if>
        order by create_time desc
    </select>
</mapper>
