<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neton.dao.SystemMenuDao">


    <select id="getSystemMenuList" resultType="com.neton.res.SystemMenuDetailsVO">
        select
            *
        from system_menu where is_deleted = 0
        <if test="params.id != null and params.id != ''">
            and (id = #{params.id} or p_id = #{params.id})
        </if>
        <if test="params.menuType != null and params.menuType != ''">
            and menu_type = #{params.menuType}
        </if>
        <if test="params.menuName != null and params.menuName != ''">
            and menu_name like concat ('%',#{params.menuName},'%')
        </if>
    </select>
</mapper>
