<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cross.whale.dao.SettlementAccountDao">


    <select id="querySettlementAccountPage" resultType="com.cross.whale.res.SettlementAccountDetailsResVO">
        SELECT
            id,
            account_name AS accountName,
            account_number AS accountNumber,
            start_amount AS startAmount,
            account_status AS accountStatus,
            is_default AS isDefault,
            sort_value AS sortValue,
            remake
        FROM
            s_settlement_account
        WHERE
            is_deleted = 0
        <if test="params.accountName != null and params.accountName != ''">
            AND account_name LIKE CONCAT('%', #{params.accountName}, '%')
        </if>
        <if test="params.accountNumber != null and params.accountNumber != ''">
            AND account_number LIKE CONCAT('%', #{params.accountNumber}, '%')
        </if>
        ORDER BY
            sort_value ASC,
            create_time DESC
    </select>
</mapper>
