<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cross.whale.dao.BrandTypeDao">


    <select id="queryBrandTypeTree" resultType="com.cross.whale.res.TreeNodeVO">
        select
            id,
            brand_name name,
            p_id pId
        FROM
            brand_type
        where is_deleted = 0
    </select>
</mapper>
