<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cross.whale.dao.GoodsBaseUnitExtendDao">
    <update id="updateByGoodsBaseUnitId">
        update goods_base_unit_extend set is_deleted = 1 , update_time = now(), update_by = #{userId} where unit_id = #{unitId}
    </update>


    <delete id="deleteByGoodsBaseUnitId">
        delete from goods_base_unit_extend where unit_id = #{unitId}
    </delete>
    <select id="selectByGoodsBaseUnitIds" resultType="com.cross.whale.res.UnitExtendResVO">
        select
            unit_extend_name,
            unit_id,
            conversion_ratio,
            id  extendId
        from goods_base_unit_extend
        where is_deleted = 0
        and unit_id in
        <foreach collection="unitIds" open="(" item="id" separator="," close=")" >
            #{id}
        </foreach>
    </select>
</mapper>
