<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neton.dao.GoodsBaseUnitExtendDao">
    <update id="updateByGoodsBaseUnitId">
        update goods_base_unit_extend set is_deleted = 1 , update_time = now(), update_by = #{userId} where unit_id = #{unitId}
    </update>


    <delete id="deleteByGoodsBaseUnitId">
        delete from goods_base_unit_extend where unit_id = #{unitId}
    </delete>
</mapper>
